.hoverable-card{
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;

  img {
    max-width: 100%;
    transition: all 0.5s ease-in-out;
  }
}

.card-caption{
  background-color: rgba($dark, 0.8);
  z-index:5;
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  color: $white;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  font-size: 2em;
}

.hoverable-card:hover{
  .card-caption{
    visibility: visible;
    -webkit-transform: translate(0, 0%);
    transform: translate(0, 0%);
    opacity: 1;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  img {
      transform: scale(1.1);
      transition: all 0.5s ease-in-out;
  }
}

.caption-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    a.button {
        width: 30%;
    }
}

