#contactme, #nav {
    position: relative;
    z-index: 10;
}

.is-underlined {
    & {
        box-shadow: inset 0 -4px 0 $info;
    }

    &-purple {
        box-shadow: inset 0 -4px 0 $purple;
    }
    
    &-green {
        box-shadow: inset 0 -4px 0 $turquoise;
    }

    &-white {
        box-shadow: inset 0 -4px 0 $white;
    }
}

.has-bg-img {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./../images/main-bg.jpg) center / cover;
    background-attachment: fixed;
    background-color: black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animated {
    transition: all 0.3s;
}

.grow:hover {
    transform: scale(1.1);
}

.transparent-white-btn {
    background-color: rgba(255,255,255, 0);
    color: white;
}

.transparent-white-btn:hover {
    background-color: white;
    color: black;
}

#down-arrow {
    opacity: 1;
    animation: Bounce_Up_Down 4s ease infinite;
    animation-delay: 1s;
}

.hidden {
    opacity: 0;
    transition: all 1s ease;
}

.fade-in {
    opacity: 1 !important;
}

@keyframes Bounce_Up_Down {
    0% {
        transform: translateY(0);
    }
    15% {
        transform: translateY(-25px);
    }
    30% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);

    }
}