<footer class="footer">
    <div class="content has-text-centered">
        <div>
            <a href="https://github.com/iliaparvanov" class="">
            <span class="icon is-large">
                <i class="fab fa-3x fa-github"></i>
            </span>
            </a>
        </div>
        <div>
            <span class=" is-size-7 is-family-secondary">Copyright © Ilia Parvanov 2019</span>
        </div>
        <div>
            <span class="is-size-6 is-family-secondary">Made with <span style="font-size:130%;">&hearts;</span> & <a href="https://bulma.io/" style="color: rgb(210, 210, 210);">Bulma</a></span>
        </div>
    </div>
</footer>