---
---

@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Noto+Sans");

$family-sans-serif: "Montserrat", sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: "Noto Sans", sans-serif;

$white: rgb(245, 245, 245);
$white-gray: rgb(210, 210, 210);
$black: rgb(0, 0, 0);
$dark: #121212;
$blue: #6795d1;
$dark-blue: rgb(41, 94, 163);
$purple: rgb(124, 111, 214);
$light-purple: #a197e8;
$turquoise: rgb(93, 208, 179);

$primary: $white;
$info: $blue;
$warning: $light-purple;
$danger: $turquoise;
$link: $primary;
$link-hover: $primary;
$link-invert: $dark;
$link-visited: $primary;

$body-size: 18px;
$body-line-height: 1.7;
$body-background-color: $black;
$text: $white-gray; 

$navbar-item-color: $white;
$navbar-item-hover-color: $dark;
$navbar-background-color: $black;

$footer-background-color: $dark;

$title-color: $white;
$subtitle-color: $white-gray;

$card-color: $white-gray;
$card-background-color: $dark;

$input-placeholder-color: rgb(122, 122, 122);

@import "./bulma/bulma.sass";

@import "component.scss";
@import "helpers.scss";


