<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parvanov</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/1.0/css/imagehover.min.css"> -->
    <link rel="stylesheet" href="assets/css/styles.css">
    <!-- <link rel="stylesheet" href="css/debug.css"> -->
    <!-- <link rel="stylesheet" href="css/smooth-scroll.css"> -->
    
  </head>
  <body>
<div id="particles-js">
  
</div>
<div id="particles-js-front" class="has-text-centered has-text-white">
  <p class="subtitle is-size-4 is-size-6-mobile is-family-secondary has-text-white">
    Nice to meet you,
  </p>
  <h1 class="title has-text-white is-size-1 is-size-4-mobile" id="imilia">
    My name is Ilia Parvanov
  </h1>
  <p class="has-text-white is-family-secondary is-size-4 is-hidden-touch">
    I'm a software developer & freelancer
  </p>
  <p class="has-text-white is-family-secondary is-size-4 is-size-6-touch is-hidden-desktop">
    Developer & Freelancer
  </p>
</div>
  <section class="hero is-fullheight has-text-white" >
      <div class="hero-head">
          <nav class="navbar is-fixed-top animated" role="navigation" aria-label="main navigation">
              <div class="navbar-brand">
                  <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <!-- <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span> -->
                  </a>
              </div>
              <div class="navbar-menu">
                <div class="navbar-start">
                  <a href="/blog/" class="animated navbar-item">
                    My blog
                  </a>
                </div>
                <div class="navbar-end is-size-6">
                  <a href="#myskillset" class="animated navbar-item">
                    My skillset
                  </a>
                  <a href="#clientwork" class="animated navbar-item">
                    Client work
                  </a>
                  <a href="#other" class="animated navbar-item">
                    Other projects
                  </a>
                  <div class="navbar-item">
                    <a class="button transparent-white-btn animated" href="#contactme">
                        <span class="icon is-small">
                          <i class="fas fa-envelope"></i>
                        </span>
                        <span>Contact Me</span>
                    </a>
                  </div>
                </div>
              </div>
        
            </nav>
      </div>
      <div class="hero-body is-marginless is-paddingless" style="width: 100vw;">
          
      </div>
      <div class="hero-foot">
        <div class="center">
          <span class="icon is-large" >
            <a href="#aboutme">
              <i class="fas fa-2x fa-chevron-down" id="down-arrow"></i>
            </a>
          </span>
        </div>
      </div>
    </section>
    <section class="section hidden" id="aboutme">
      <div class="container">
        <div class="columns is-centered">
          <div class="column has-text-centered">
            <h1 class="is-uppercase has-text-primary is-size-4"><span class="is-underlined animation-toggle">About me</span></h1>
          </div>
        </div>
        <br>
        <div class="columns is-centered">
          <div class="column is-3">
            <figure class="image is-square">
              <img class="is-rounded" src="assets/images/about-me-cropped.png">
            </figure>
          </div>
        </div>
        <br>
        <div class="columns is-centered">
          <div class="column is-8 has-text-justified">
              <span class="is-size-5 is-family-secondary">Hey,<br> I am a software engineering student at <a href="https://www.elsys-bg.org">Technology School Electronic Systems (TUES)</a>
                where I have been studying systems programming for 4 years.
                Some of my skills include building websites (like the one you are looking at), Android applications, games and other software.
                My current programming interests are in the field of machine learning and neural networks. If you are interested in collaborating
                on a project or hiring me for a software development job (whether that be creating a website or something else entirely), you can
                contact me throught the contact form at the bottom of the page.<br>Some of my other passions include playing guitar, reading and writing fiction (though, I rarely get enough time for that).
              </span>
          </div>
        </div>
      </div>
    </section>
    <section class="section hidden" id="myskillset">
      <div class="container">
        <div class="columns is-centered">
          <div class="column has-text-centered">
            <h1 class="is-uppercase has-text-primary is-size-4"><span class="is-underlined-purple animation-toggle">What can I do for you?</span></h1>
          </div>
        </div>
          <div class="columns">
            <div class="column is-4">
              <p class="is-family-secondary" style="text-align: center;">
                <span class=" is-size-5">Programming languages</span><br>
                HTML5<br>
                CSS3<br>
                SASS<br>
                JS (ES6)<br>
              </p>
              <br>
              <p class="is-family-secondary" style="text-align: center;">
                <span class=" is-size-5">Frameworks & Tools</span><br>
                Bulma<br>
                Ruby on Rails<br>
                WordPress<br>
                Git<br>
                NPM<br>
              </p>
            </div>
            <div class="column is-4">
                <div class="hoverable-card">
                  <figure class="image is-3by2">
                    <img style="object-fit: cover;" src="assets/images/volunteering-robg.png" alt="01"/>
                  </figure>
                  <div class="card-caption">
                    <div class="caption-text-container">
                        <p class="is-family-secondary is-size-5">Volunteering ROBG</p>
                        <p class="is-family-secondary is-size-6">A multilingual Wordpress website created for a client.</p>
                        <a class="button transparent-purple-btn animated is-rounded" href="https://volunteering-robg.com">
                          <span>
                            Visit
                          </span>
                        </a>
                    </div>    
                  </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="hoverable-card">
                    <figure class="image is-3by2">
                      <img style="" src="assets/images/desislavaschool.png" alt="Desislava School project "/>
                    </figure>
                    <div class="card-caption">
                      <div class="caption-text-container">
                          <p class="is-family-secondary is-size-5">Desislava School</p>
                          <p class="is-family-secondary is-size-6">A Wordpress website for a local language school.</p>
                          <a class="button transparent-purple-btn animated is-rounded" href="http://desislavaschool.com/">
                            <span >
                              Visit
                            </span>
                          </a>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section hidden" id="clientwork">
      <div class="container">
          <div class="columns is-centered">
            <div class="column has-text-centered">
              <h1 class="is-uppercase has-text-primary is-size-4">
                <span class="is-underlined-green animation-toggle">
                  Client work
                </span>
              </h1>
            </div>
          </div>
          <div class="columns">
            <div class="column is-4">
              <p class="is-family-secondary" style="text-align: center;">
                <span class=" is-size-5">Engines</span><br>
                Unreal Engine<br>
                Unity<br>
              </p>
            </div>
            <div class="column is-4">
              <p class="is-family-secondary" style="text-align: center;">
                <span class=" is-size-5">Skills</span><br>
                Gameplay Programming<br>
                Music Creation<br>
                UI/UX Design<br>
              </p>
            </div>
            <div class="column is-4">
                
            </div>
          </div>
      </div>
    </section>
    <section class="section hidden" id="other">
      <div class="container">
        <div class="columns is-centered">
          <div class="column has-text-centered">
            <h1 class="is-uppercase has-text-primary is-size-4"><span class="is-underlined animation-toggle">other projects</span></h1>
          </div>
        </div>
        <div class="columns">
          <div class="column is-4">
            <p class="is-family-secondary" style="text-align: center;">
              <span class=" is-size-5">Languages</span><br>
              JAVA<br>
              C/C++<br>
              PYTHON<br>
            </p>
          </div>
          <div class="column is-4">
            <p class="is-family-secondary" style="text-align: center;">
              <span class=" is-size-5">Development tools</span><br>
              IntelliJ<br>
              VSCODE<br>
              MySQL<br>
              <br>
            </p>
          </div>
          <div class="column is-4">
            <div class="hoverable-card">
              <figure class="image is-3by2">
                <img class="" src="assets/images/stock-img-1.jpg" alt="01"/>
              </figure>
              <div class="card-caption">
                <div class="caption-text-container">
                    <p class="is-family-secondary is-size-5">Example Project</p>
                    <p class="is-family-secondary is-size-6">This is a great example project which will totally land me a job.</p>
                    <a class="button transparent-white-btn animated is-rounded" href="https://github.com">
                      <span class="icon">
                        <i class="fab fa-github fa-lg"></i>
                      </span>
                    </a>
                </div>    
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section hidden" id="contactme">
      <div class="container">
        <div class="columns is-centered">
          <div class="column has-text-centered">
            <h1 class="is-uppercase has-text-primary is-size-4"><span class="is-underlined-white animation-toggle">get in touch</span></h1>
          </div>
        </div>
        <div class="columns">
          <div class="column is-three-fifths is-offset-one-fifth">
            <form action="https://formspree.io/ilia.nikolaev.parvanov@gmail.com" method="POST">
              <div class="field is-horizontal">
                <div class="field-body">
                  <div class="field">
                    <p class="control is-expanded has-icons-left">
                      <input class="input" type="text" placeholder="Name" name="name">
                      <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                    </p>
                  </div>
                  <div class="field">
                    <p class="control is-expanded has-icons-left">
                      <input class="input" type="email" placeholder="Email" name="email">
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                    </p>
                  </div>
                </div>
              </div> 
              <div class="field is-horizontal">
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <textarea name="message" class="textarea" placeholder="Leave your message here. I will try to respond as soon as possible."></textarea>
                    </div>
                  </div>
                </div>
              </div>   
              <nav class="level" style="margin-top: 2rem; margin-bottom: 4rem;">
                <div class="level-item">
                    <div class="field is-horizontal">
                      <div class="field-body">
                        <div class="field">
                          <div class="control">
                            <button class="button is-primary">
                              Send message
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </nav>
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
          <div>
            <a href="https://github.com/iliaparvanov" class="">
              <span class="icon is-large">
                <i class="fab fa-3x fa-github"></i>
              </span>
            </a>
          </div>
          <div>
            <span class=" is-size-7 is-family-secondary">Copyright © Ilia Parvanov 2019</span>
          </div>
          <div>
            <span class="is-size-6 is-family-secondary">Made with <span style="font-size:130%;">&hearts;</span> & <a href="https://bulma.io/" style="color: rgb(210, 210, 210);">Bulma</a></span>
          </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="assets/js/particles.min.js"></script>
    <script src="assets/js/script.js"></script>
    {% if jekyll.environment == 'production' %}
      {%- include analytics.html -%}
    {% endif %}
  </body>
</html>